artifacts/
dist/
node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
yarn.lock
.vscode/STORED_TEST
*.sqlite
*.sqlite-wal
*.sqlite-shm
test/fixtures/odgn*
test/fixtures/ccode
*.graph.png
